# Auto detect text files and perform LF normalization
* text=auto

*.glsl linguist-language=GLSL
*.vsh linguist-language=GLSL
*.fsh linguist-language=GLSL


*.py linguist-detectable=true
*.glsl linguist-detectable=false
*.vsh linguist-detectable=false
*.fsh linguist-detectable=false

modules/shader/special_sticker/* linguist-vendored
".bat linguist-vendored
